.formulario-titulo {
  text-align: center;
  margin: auto;
  -webkit-text-stroke: 1px var(--cor-texto-3);
}

.formulario-label-texto {
  margin-bottom: 15px;
}

.formulario-entrada-dados {
  padding: 10px;
  border: 1px solid var(--cor-borda-2);
  border-radius: 5px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 400px;
  border-color: var(--cor-borda-1);
}
